/*@import url('https://fonts.googleapis.com/css?family=Space+Mono');*/
@font-face {
    font-family: "JetBrainsMonoBold";
    font-weight: bold;
    src: url("https://snblago.com/webfonts/JetBrainsMono-ExtraBold.woff2") format("woff2");
}


@tailwind base;
@tailwind components;
@tailwind utilities;


.html {
    font-family: JetBrainsMono, monospace;
}


.animate-typewriter-cursor-blink {
    animation: blink-typewriter 0.85s step-end infinite;
}

@keyframes blink-typewriter {
    from, to {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.bg-dark-navy-blue {
    background-color: #2b3e50;
}
